
/* first section */

/* Body Styles */
.body { 
    font-family: 'Raleway', sans-serif; 
    margin: 0, auto;
}

.main-container {
    width: 90%;
    max-width: 1200px;
    height: 800px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 1450px;
    height: 650px;
    
  }


  /* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    margin: 0, auto;
    width: 1000px;
    align-items: center;
   
}

.logo {  
    font-family: 'Inter', sans-serif;
    font-size: 34px;
    font-weight: 900px;
    color: #4E47FF;
}

.logo-style{
  color: rgb(254, 150, 21);
}

.signup-button {
    background-color: #4E47FF;
    color: white;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700px;
    font-size: 16px;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #07ce8c;
    font-style: italic;
    font-size: larger;
}

/* Main Content Styles */
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.content h1 {
    font-size: 60px;
    color: #252432;
    max-width: 850px;
    margin-bottom: 30px;
    font-weight: 700px;
}

.focus-button {
    background-color: #4a00e0;
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700px;
    font-size: 16px;
    cursor: pointer;
    
}
.focus-button:hover {
    background-color: #07ce8c;
    font-style: italic;
    font-size: larger;
}

/* Second section: Action */

.action-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.action-space{
    line-height: 25px;

}
.action-title{
    font-weight: 700px;
    font-size: 42px;
    color: #252432;
}

.action-description{
    font-weight: 400px;
    font-size: 24px;
    color: #252432;
    opacity: 50%;
    max-width: 500px;

}

.img-style{
    width: 400px;
    height: 300px;
    border-radius: 48px;
}

.live-button{
    background-color: #4a00e0;
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700px;
    font-size: 16px;
    cursor: pointer;
    border-style: none;
}

.live-button:hover{
    background-color: #07ce8c;
    font-style: italic;
    font-size: larger;
}

/* Third section: Productive User */

.Productive-Back{
    background-color:#f3f4ff;
    border-radius: 24px;
    width: 1000px;
    height: 150px;
    text-align: center;
    margin-left: 100px;
    margin-right: 150px;
    padding-top: 80px;
    padding-bottom: 80px;

}

.Productive-align{
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    
    
}

.Productive-ratio{
    font-family: 'Inter', sans-serif;
    font-weight: 700px;
    font-size: 70px;
    color: #4E47FF;
    margin-top: 4%;
    margin-bottom: 0%;

}

.Productive-tag{
    font-family: 'Inter', sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color: #000000;
    opacity: 40%;
    margin-top: 0%;
    margin-bottom: 0%;


}